
HW1/.ipynb_checkpoints/Data Exploration-checkpoint.ipynb
.DS_Store
HW1/.DS_Store
HW2/.DS_Store
HW2/.ipynb_checkpoints/Executive_summary-checkpoint.ipynb
HW3/.ipynb_checkpoints/Homework_3-checkpoint.ipynb
